#wapper #header .headTop {
  background: #eaeaea;
  height: 30px;
}
#wapper #header .headTop .headTopMain {
  width: 1200px;
  height: 30px;
  margin: 0 auto;
  line-height: 30px;
  overflow: hidden;
}
#wapper #header .headTop .headTopMain .left {
  float: left;
}
#wapper #header .headTop .headTopMain .left h5 {
  float: left;
}
#wapper #header .headTop .headTopMain .left p {
  float: left;
}
#wapper #header .headTop .headTopMain .left p a:first-child {
  border-right: 1px solid #b3aeae;
  padding-right: 5px;
  margin-right: 5px;
}
#wapper #header .headTop .headTopMain .right {
  float: right;
}
#wapper #header .headTop .headTopMain .right nav {
  font-size: 0px;
}
#wapper #header .headTop .headTopMain .right nav a {
  border-right: 1px solid #b3aeae;
  margin-right: 10px;
  padding-right: 10px;
  font-size: 12px;
}
#wapper #header .headTop .headTopMain .right nav a:last-child {
  margin-right: 0px;
  padding-right: 0px;
  border: none;
}
#wapper #header .headBottom .headBottomMain {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
#wapper #header .headBottom .headBottomMain .logo {
  float: left;
}
#wapper #header .headBottom .headBottomMain .logo a img {
  width: 175px;
  height: 56px;
  margin: 25px 45px;
}
#wapper #header .headBottom .headBottomMain .search {
  float: right;
  margin-top: 39.5px;
}
#wapper #header .headBottom .headBottomMain .search input:first-child {
  float: left;
  box-sizing: border-box;
  width: 490px;
  height: 32px;
  padding: 0px 4px;
  border: 3px solid #ea4a36;
  color: blue;
}
#wapper #header .headBottom .headBottomMain .search input:last-child {
  width: 68px;
  height: 32px;
  background: #ea4a36;
  color: #fff;
  border: none;
}
#wapper #header .headBottom .headBottomMain .search input::-webkit-input-placeholder {
  color: yellowgreen;
}
#wapper #navWrap {
  border-bottom: 2px solid #e1251b;
}
#wapper #navWrap .navWrapMain {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
#wapper #navWrap .navWrapMain a {
  margin: 0px 22px;
  font-size: 16px;
  color: #333333;
  float: left;
  text-align: center;
  line-height: 50px;
}
#wapper #navWrap .navWrapMain a:first-child {
  width: 210px;
  height: 50px;
  background: #e1251b;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  float: left;
}
#wapper #content {
  width: 1200px;
  margin: 15px auto 0 auto;
}
#wapper #content .contentMain .navPath {
  font-size: 12px;
  padding: 9px 15px 9px 0;
  font-size: 0px;
}
#wapper #content .contentMain .navPath a {
  font-size: 12px;
}
#wapper #content .contentMain .navPath i {
  font-size: 12px;
  padding: 0px 5px;
}
#wapper #content .contentMain #center {
  margin: 5px 0 15px;
  overflow: hidden;
}
#wapper #content .contentMain #center #left {
  width: 400px;
  float: left;
}
#wapper #content .contentMain #center #left #leftTop {
  width: 400px;
  position: relative;
}
#wapper #content .contentMain #center #left #leftTop #smallPic {
  width: 400px;
  height: 400px;
  border: 1px solid #DFDFDF;
  position: relative;
}
#wapper #content .contentMain #center #left #leftTop #smallPic .mask {
  width: 200px;
  height: 200px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #ddd;
  position: absolute;
  top: 0px;
  left: 0px;
}
#wapper #content .contentMain #center #left #leftTop #bigPic {
  width: 400px;
  height: 400px;
  left: 420px;
  top: 0px;
  border: 1px solid #ddd;
  position: absolute;
  overflow: hidden;
}
#wapper #content .contentMain #center #left #leftTop #bigPic img {
  width: 800px;
  height: 800px;
  position: absolute;
  left: 0px;
  top: 0px;
}
#wapper #content .contentMain #center #left #leftBottom {
  width: 400px;
  margin-top: 5px;
  overflow: hidden;
}
#wapper #content .contentMain #center #left #leftBottom a {
  float: left;
  width: 10px;
  height: 54px;
  border: 1px solid #ccc;
  background: #ebebeb;
  text-align: center;
  line-height: 54px;
}
#wapper #content .contentMain #center #left #leftBottom a:first-child {
  margin-right: 4px;
}
#wapper #content .contentMain #center #left #leftBottom #piclist {
  float: left;
  width: 372px;
  height: 56px;
  overflow: hidden;
}
#wapper #content .contentMain #center #left #leftBottom #piclist ul {
  white-space: nowrap;
  font-size: 0px;
}
#wapper #content .contentMain #center #left #leftBottom #piclist ul li {
  height: 50px;
  width: 50px;
  border: 1px solid #cccccc;
  padding: 2px;
  margin-right: 20px;
  display: inline-block;
}
#wapper #content .contentMain #center #left #leftBottom #piclist ul li img {
  height: 50px;
  width: 50px;
}
#wapper #content .contentMain #center #right {
  width: 700px;
  float: right;
}
#wapper #content .contentMain #center #right .rightTop h3 {
  font-size: 14px;
  line-height: 21px;
  margin-top: 15px;
}
#wapper #content .contentMain #center #right .rightTop > p {
  color: #e12228;
  margin-top: 15px;
}
#wapper #content .contentMain #center #right .rightTop .priceWrap {
  margin-top: 10px;
  line-height: 28px;
  background: #fee9ec;
  padding: 7px;
}
#wapper #content .contentMain #center #right .rightTop .priceWrap .priceTop {
  overflow: hidden;
}
#wapper #content .contentMain #center #right .rightTop .priceWrap .priceTop > span {
  margin-right: 15px;
  float: left;
}
#wapper #content .contentMain #center #right .rightTop .priceWrap .priceTop .price {
  color: #cc1122;
  float: left;
}
#wapper #content .contentMain #center #right .rightTop .priceWrap .priceTop .price > span {
  font-size: 16px;
  float: left;
}
#wapper #content .contentMain #center #right .rightTop .priceWrap .priceTop .price > p {
  font-size: 24px;
  float: left;
  font-weight: bold;
}
#wapper #content .contentMain #center #right .rightTop .priceWrap .priceTop .price i {
  font-size: 12px;
  float: left;
}
#wapper #content .contentMain #center #right .rightTop .priceWrap .priceTop > p {
  float: right;
}
#wapper #content .contentMain #center #right .rightTop .priceWrap .priceBottom {
  overflow: hidden;
}
#wapper #content .contentMain #center #right .rightTop .priceWrap .priceBottom > span {
  float: left;
  margin-right: 15px;
}
#wapper #content .contentMain #center #right .rightTop .priceWrap .priceBottom > p {
  width: 520px;
  float: left;
}
#wapper #content .contentMain #center #right .rightTop .priceWrap .priceBottom > p > span {
  color: #999999;
}
#wapper #content .contentMain #center #right .rightTop .priceWrap .priceBottom > p > span:first-child {
  background: #c81623;
  padding: 3px;
  color: #fff;
}
#wapper #content .contentMain #center #right .rightTop .support {
  margin-top: 10px;
  line-height: 28px;
  overflow: hidden;
}
#wapper #content .contentMain #center #right .rightTop .support > span {
  float: left;
  margin-right: 15px;
}
#wapper #content .contentMain #center #right .rightTop .support > p {
  color: #999999;
  float: left;
}
#wapper #content .contentMain #center #right .rightTop .address {
  border-bottom: 1px solid #ededed;
  line-height: 28px;
  overflow: hidden;
  margin-top: 10px;
  padding-bottom: 5px;
}
#wapper #content .contentMain #center #right .rightTop .address > span {
  float: left;
  margin-right: 15px;
}
#wapper #content .contentMain #center #right .rightTop .address > p {
  float: left;
  color: #999999;
}
/*# sourceMappingURL=index.css.map */