

//最外层div
#wapper{

  //头部开始
  #header {

    //头部上半部分
    .headTop {
      background: #eaeaea;
      height: 30px;

      //版心元素
      .headTopMain {
        width:1200px;
        height: 30px;
        margin: 0 auto;
        line-height: 30px;
        overflow: hidden;  //父元素塌陷

        //左边
        .left {
          float: left;

          h5 {
            float: left;
          }

          p {
            float: left;

            a {
              &:first-child{
                border-right: 1px solid #b3aeae;
                padding-right: 5px;
                margin-right: 5px;
              }
            }
          }
        }

        //右边
        .right {
          float: right;
          nav{
            font-size: 0px;
            a{
              border-right:1px solid #b3aeae;
              margin-right: 10px;
              padding-right: 10px;
              font-size: 12px;
              &:last-child{
                margin-right: 0px;
                padding-right: 0px;
                border: none;
              }
            }
          }
        }
      }
    }

    //头部下半部分
    .headBottom{

      //版心元素
      .headBottomMain{
        width: 1200px;
        margin: 0 auto;
        overflow: hidden;
        //clear: both;
        //display: block;
        //content: '';

        //logo
        .logo{
          float: left;
          a{
            img{
              width: 175px;
              height: 56px;
              margin:25px 45px;
            }
          }
        }

        //搜索框
        .search{
          float: right;
          margin-top: 39.5px;
          input{
            &:first-child{
              float: left;
              box-sizing: border-box;
              width: 490px;
              height: 32px;
              padding: 0px 4px;
              border: 3px solid #ea4a36;
              color: blue;

            }
            &:last-child{
              width: 68px;
              height: 32px;
              background: #ea4a36;
              color: #fff;
              border: none;
            }
            //设置提示文本的样式
            &::-webkit-input-placeholder {
              color: yellowgreen;
            }
          }
        }
      }
    }
  }
  //头部结束

  //分类导航开始
  #navWrap{
    border-bottom: 2px solid #e1251b;
    //版心元素
    .navWrapMain{

      width: 1200px;
      margin: 0 auto;
      overflow: hidden;
      a{
        margin: 0px 22px;
        font-size: 16px;
        color: #333333;
        float: left;
        text-align: center;
        line-height: 50px;
        &:first-child{
          width: 210px;
          height: 50px;
          background: #e1251b;
          color: #fff;
          font-size:14px;
          font-weight: bold;
          float: left;
        }

      }
    }
  }
  //分类导航结束


  //内容区开始
  #content
  {
    width: 1200px;
    margin: 15px auto 0 auto;

    //版心
    .contentMain
    {

      //路径导航
      .navPath{
        font-size: 12px;
        padding:9px 15px 9px 0;
        font-size: 0px;
        a{
          font-size: 12px;
        }
        i{
          font-size: 12px;
          padding:0px 5px;
        }
      }

      //中间区域
      #center{
        margin:5px 0 15px;
        overflow: hidden;

        //左侧放大镜
        #left{
          width:400px;
          float: left;

          //上面的图
          #leftTop{
            width: 400px;
            position: relative;

            //小图框
            #smallPic{
              width: 400px;
              height: 400px;
              border:1px solid #DFDFDF ;
              position: relative;
              img{}
              .mask{
                width: 200px;
                height: 200px;
                background: rgba(255,255,255,.5);
                border: 1px solid #ddd;
                position: absolute;
                top: 0px;
                left: 0px;
              }
            }

            //大图框
            #bigPic{
              width: 400px;
              height: 400px;
              left: 420px;
              top: 0px;
              border: 1px solid #ddd;
              position: absolute;
              overflow: hidden;
              img{
                width: 800px;
                height: 800px;
                position: absolute;
                left: 0px;
                top: 0px;
              }
            }
          }

          //下面的小图
          #leftBottom
          {
            width: 400px;
            margin-top: 5px;
            overflow: hidden;
            a
            {
              float: left;
              width: 10px;
              height: 54px;
              border: 1px solid #ccc;
              background: #ebebeb;
              &:first-child{
                margin-right: 4px;
              }
              text-align: center;
              line-height: 54px;
            }
            #piclist {
              float: left;
              width: 372px;
              height: 56px;
              overflow: hidden;
              ul {
                white-space: nowrap;
                font-size:0px;
                li {
                  height: 50px;
                  width: 50px;
                  border: 1px solid #cccccc;
                  padding: 2px;
                  margin-right: 20px;
                  display: inline-block;
                  img {
                    height: 50px;
                    width: 50px;
                  }
                }
              }
            }
          }
        }

        //右侧商品详情
        #right{
          width: 700px;
          float: right;

          .rightTop{
            h3{
              font-size: 14px;
              line-height: 21px;
              margin-top: 15px;
            }
            >p{
              color: #e12228;
              margin-top: 15px;
            }
            .priceWrap{
              margin-top: 10px;
              line-height: 28px;
              background: #fee9ec;
              padding: 7px;

              .priceTop{
                overflow: hidden;
                >span{
                  margin-right: 15px;
                  float: left;;
                }
                .price{
                  color: #cc1122;
                  float: left;
                  >span{font-size: 16px; float: left;}
                  >p{font-size: 24px; float: left;font-weight:bold }
                  i{font-size: 12px; float: left;}
                }
                >p{
                  float: right;
                  >span{}
                }
              }
              .priceBottom{
                overflow: hidden;
                >span{
                  float: left;
                  margin-right: 15px;
                }
                >p{
                  width: 520px;
                  float: left;
                  >span{
                    color: #999999;
                    &:first-child{
                      background: #c81623;
                      padding: 3px;
                      color: #fff;
                    }
                  }
                }
              }
            }
            .support{
              margin-top: 10px;
              line-height: 28px;
              overflow: hidden;
              >span{float: left; margin-right: 15px;}
              >p{ color: #999999; float: left;}

            }
            .address{
              border-bottom: 1px solid #ededed;
              line-height: 28px;
              overflow: hidden;
              margin-top: 10px;
              padding-bottom: 5px;
              >span{float: left;margin-right: 15px;}
              >p{float:left; color: #999999;}
            }
          }
        }
      }

    }
  }
  //内容区结束
}

